body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color:lightcyan;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(54, 40, 40, 0.1);
    padding: 50px;
    width: 300px;
    text-align: center;
}

.calculator input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    font-size: 1em;
    border: none;
    background-color: rgb(235, 190, 235);
    border-radius: 5px;
    cursor: pointer;
    outline-style:groove ;
    outline-color:rgb(202, 80, 202);
    transition: background-color 0.3s;
}

button:hover {
    background-color:rgb(155, 13, 155);
    color:white;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
}
